<div class="text-center">

    <h3>Color for project {{name}}</h3>

    <input id="picker" style="background-color: {{color}}" value="{{color}}">


    <p>Press escape or enter to confirm selection</p>
</div>

