<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h2>
                <i class="cursor-hand fa fa-arrow-left" id="goToPrevious"></i>
                <label>From {{formatDate beginDate "DD/MM/YYYY"}} to {{formatDate endDate "DD/MM/YYYY"}}</label>
                <i class="cursor-hand fa fa-refresh" id="btRefresh" rel="tooltip" title="Refresh"></i> &nbsp;
                <i class="cursor-hand fa fa-arrow-right" id="goToNext"></i>
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills">
            <li id="btWeekly"><a href="#">Weekly</a></li>
            <li id="btMonthly"><a href="#">Monthly</a></li>
            <li id="btYearly"><a href="#">Yearly</a></li>
        </ul>
    </div>
    {{#if adminMode}}
        <div class="col-md-2 col-md-offset-1">
            <div class="text-center">
                <input type="text" id="usrInput" class="form-control input-sm text-center" placeholder="Inflow User"/>
            </div>
        </div>
    {{/if}}
</div>
<hr/>
<div class="row padding-top-10">
    {{#each projectLegend}}
        <div class="col-sm-4" style="margin-bottom: 5px;">
            <div class="row">
                <div class="col-xs-1 cpicker" data-project="{{projectName}}" data-color="{{color}}" style="background-color: {{color}}; height:2.4em;">&nbsp;</div>
                <div class="col-xs-10" style="line-height: 15px;">
                    <label>{{projectName}}</label>

                    <div>{{formatedProjectTotalTime}} ({{durationPercentage}}%)</div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<hr/>
{{#if formatedTotalWeekDuration}}
    <div class="row " id="totalTimeSection">
        <div class="col-md-12">
            <div class="text-center">
                <h3>Total time : <b>{{formatedTotalWeekDuration}}</b></h3>
            </div>
        </div>
    </div>
{{/if}}
<hr/>
<div class="row ">
    <div class="col-md-12" id="daysContainer" style="height: 100%;overflow: auto">
    </div>
</div>


<div id="loading"></div>

<div class="text-center">
    <label class="text-danger" id="errorMessage">{{errorMessage}}</label>
</div>
