<div class="row">
    <div class="col-md-2">
        <span class="pull-right">
            {{dateOfTheDay}}
        </span>
    </div>
    <div class="col-md-9">
        <div class="progress" style="background-color: transparent;border: none;border-radius: 0px;-webkit-box-shadow: none;box-shadow:none">
            {{#each projects_json}}
                <div class="barItem progress-bar cursor-hand" style="width:{{percentage}}%; background:{{color}}" rel="tooltip" title="{{projectName}} : {{formatedDuration}}" data-position="bottom" data-projectid={{root_id}}></div>
            {{/each}}
        </div>
    </div>
    <div class="col-md-1">
          <span>
              <b>{{formatedTotalDuration}}</b>
          </span>
    </div>
</div>
