<span class="pull-right text-muted">Press escape to close  <i id="closePopup" class="glyphicon glyphicon-remove cursor-hand"></i></span>
<h4>Project : {{project}} / Date : {{date}} / User : {{user}}</h4>
<hr/>
<div class="background-white" >

  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th >Performer</th>
        <th>Project Node</th>
        <th style="min-width: 200px">Title</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{solver}}</td>
        <td>{{node_name}}</td >
          <td>{{title}}</td>
          <td>{{formatted_duration}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
