<!--<div class="row padding-top-10">-->
    <!--<ul class="nav nav-pills">-->
        <!--<li class="active"><a href="#weeklyRegion" data-toggle="tab">Weelky</a></li>-->
        <!--<li><a href="#monthlyRegion" data-toggle="tab">Monthly</a></li>-->

    <!--</ul>-->
<!--</div>-->

<div class="tab-content">
    <div class="tab-pane active" id="weeklyRegion">
    </div>
    <div class="tab-pane" id="monthlyRegion">
    </div>
</div>
