.main-padding {
    padding-top: 60px;

}

.cursor-hand {
    cursor: pointer;
}

.padding-top-10 {
    padding-top: 10px;
}

.error {
    color: darkred;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#day-region {
    min-height: 320px;
    margin-bottom: 20px;
}

#graph-region {
    min-height: 36px;
}

.margin-top-buttons {
    margin-top: 15px;
}

.running {
    //  background-color: lightgreen;
}

.block-inline {
    display: inline-block;
}

.no-border {
    border: 0px;
}

#bottom-panel {
    height: 620px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 10%;
    bottom: -640px;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
}

#bottom-panel.show {
    bottom: -25px;
}

#searchInput {
    margin-bottom: 10px;
}

.bottom-panel-container {
    height: 480px;
    overflow: auto;
}

body {
    margin-bottom: 30px;

}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.progress-bar-tracked {
    background-color: green;
}

.progress-bar-untracked {
    background-color: red;
}

.progress-bar-pause {
    background-color: #808080;
}

.progress-bar-inactive {
    background: linear-gradient(to right,beige,beige,beige,beige,beige,orange);
}

.progress-bar-untracked:hover {
    background: #ffffff;
}

.progress-bar-inactive:hover {
    background: #ffffff;
}

.progress-bar-pause:hover {
    background: #ffffff;
}

.hoursTitle{
    font-size: 2em;
    font-weight: bold;
}

.dateLabel{
    font-weight: bold;
    font-size: 11pt;
    vertical-align: text-top;
    width: 90px;
}

#selectTaskLabel{
    font-weight: bold;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div{
    height: 30px;
}

.tooltip {
    position: fixed;
}

.background-white{
  background-color: #fff;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
