<div class="container">
    <span class="text-muted">TimeTrack {{version}} - Electron {{electronVersion}} - Chrome {{chromeVersion}}
        {{#if adminMode}}
         -&nbsp;(Admin Mode)
        {{/if}}
        {{#if newVersion}}
            &nbsp;-&nbsp;<span style="color:red">New version {{newVersion}} available</span>&nbsp;<a
                id="versionUrl" href="{{newVersionUrl}}"> here</a>
        {{/if}}
    </span>
    <span class="pull-right">
        <a href="#" id="btWhatsNew">What's new ?</a>
    </span>
</div>
