<h1>Preferences</h1>

<form role="form" class="form-horizontal">
    <div class="form-group">
        <label for="DataPath" class="col-sm-3">Path to data file (Click on the input to open dialog)</label>

        <div class="col-sm-9">
            <div style="position: relative">
                <input type="text" id="DataPath" class="form-control cursor-hand" style="position: absolute"
                       data-binding="DataPath"/>
                <input nwdirectory nwworkingdir="..." id="dirselector" type="file" class="form-control cursor-hand"
                       style="opacity: 0"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="DatabasePath" class="col-sm-3">DatabasePath</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="DatabasePath" placeholder="Give the Database Path">
        </div>
    </div>


    <div class="form-group">
        <label for="YoutrackUrl" class="col-sm-3">Youtrack URL</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="YoutrackUrl" placeholder="Give the youtrack URL">
        </div>
    </div>

    <div class="form-group">
        <label for="YoutrackUser" class="col-sm-3">Youtrack User</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="YoutrackUser" placeholder="Give the youtrack user name">
        </div>
    </div>

    <div class="form-group">
        <label for="YoutrackPassword" class="col-sm-3">Youtrack Password</label>

        <div class="col-sm-9">
            <input type="password" class="form-control" id="YoutrackPassword" placeholder="Give the youtrack password">
        </div>
    </div>

    <div class="form-group">
        <label for="YoutrackDefaultSearch" class="col-sm-3">Youtrack Default Search</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="YoutrackDefaultSearch" placeholder="Youtrack default search phrase">
        </div>
    </div>

    <div class="form-group">
        <label for="RoundTimeMinutes" class="col-sm-3">Normalize time round minutes</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="RoundTimeMinutes">
        </div>
    </div>

    <div class="form-group">
        <label for="InflowUrl" class="col-sm-3">Inflow Rest URLs</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="InflowUrl" placeholder="Inflow Url">
        </div>
    </div>

    <div class="form-group">
        <label for="InflowUser" class="col-sm-3">Inflow user name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="InflowUser" placeholder="Inflow user name">
        </div>
    </div>

    <div class="form-group">
        <label for="InflowPassword" class="col-sm-3">Inflow user password</label>

        <div class="col-sm-9">
            <input type="password" class="form-control" id="InflowPassword" placeholder="Inflow password">
        </div>
    </div>

    <div class="form-group">
        <label for="InflowDatabaseUrl" class="col-sm-3">Inflow DatabaseUrl</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="InflowDatabaseUrl" placeholder="Inflow database URL">
        </div>
    </div>

    <div class="form-group">
        <label for="InactivityTimeOutInMinutes" class="col-sm-3">Inactivity TimeOut (Minutes)</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="InactivityTimeOutInMinutes" placeholder="Inactivity timeout in minutes">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="button" id="btSave" class="btn btn-success">Save preferences</button>
        </div>
    </div>
</form>
