<ul class="nav navbar-nav">

    <li><a href="tracker:show"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Tracking</a></li>
    <li><a href="dashboard:show"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
    {{#if adminMode}}
        <li><a href="pjmtools:show"><i class="fa fa-line-chart"></i>&nbsp;PM Reports</a></li>
    {{/if}}

    <li><a href="prefs:list"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings</a></li>

</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="" id="btQuit"><i class="glyphicon glyphicon-off"></i>&nbsp;Quit</a></li>
</ul>
