{{#each data}}
<h3>{{projectName}}</h3>
<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width: 400px;">Perfs</th>
      <th style="width: 300px;">Perf Trace</th>
      <th>Reserve</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#if showTeam}}
        <h4>Team</h4>
        <hr>
        {{/if}}
        {{#each perfs}}
        <div class="">
          {{name}} : {{asManDays time}}
        </div>
        {{/each}}
        {{#if showTeam}}
        <div class="pull-right">
          {{asManDays perfsInTeamTotal}}
        </div>
        <br>
        <h4>Others</h4>
        <hr>
        {{#each perfsNotInTeam}}
        <div class="">
          {{name}} : {{asManDays time}}
        </div>
        {{/each}}
        <div class="pull-right">
          {{asManDays perfsNotInTeamTotal}}
        </div><br>
        {{/if}}
      </td>
      <td style="font-weight: bold" >

      </td>
      <td style="font-weight: bold" >

        <!-- {{#if showTeam}}
        <h4>Team Reserve</h4>
        <hr>
        <div class="pull-right" >
          {{asManDays reserveInTeam}}
        </div><br>
        <hr>
        <h4>Other Reserve</h4>
        <hr>
        <div class="pull-right" >
          {{asManDays reserveNotInTeam}}
        </div>
        {{/if}} -->
      </td>
    </tr>
    <tr>
      <td>
        <div class="pull-right" style="font-weight: bold" >
          {{asManDays perfTotal}}
        </div></td>
        <td>
          <div class="pull-right" style="font-weight: bold" >
            {{asManDays perfTracesTotal}}
          </div>
        </td>
        <td style="font-weight: bold">
          {{#if reserveOk}}
          <span class="text-success">
            {{else}}
            <span class="text-danger">
              {{/if}}
              <div class="pull-right">
                {{asManDays reserve}}
              </div>
            </span>
          </td>
        </tbody>
      </table>

      {{/each}}
