<div class="row">

<div class="col-md-2 col-md-offset-2">
  <div class="pull-right">
    <h4><i class="cursor-hand fa fa-arrow-left" id="goToPrevious"></i></h4>
  </div>
</div>
  <div class="col-md-2">
    <input class="form-control" style="width:100%" data-provide="datepicker" id="startDate"
    value="{{startDate}}"
    placeholder="Start date">
  </div>
  <div class="col-md-2">
    <input class="form-control" style="width:100%" data-provide="datepicker" id="endDate" value="{{endDate}}"
    placeholder="End date">
  </div>
  <div class="col-md-2">
      <h4><i class="cursor-hand fa fa-arrow-right" id="goToNext"></i></h4>
  </div>

</div>
<div class="row" style="margin-top: 10px">
  <div class="col-md-4">
    <select id="cbProject" multiple="multiple">
      {{#each projects}}
      <option value="{{InflowId}}">{{ProjectName}}</option>
      {{/each}}
    </select>
    <select id="cbSolvers" multiple="multiple">
      {{#each solvers}}
      <option value="{{solver}}">{{solver}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-md-4">
    <div class="centered-pills">
    <ul class="nav nav-pills">
        <li id="btThisWeek"><a href="#">Weekly</a></li>
        <li id="btThisMonth"><a href="#">Monthly</a></li>
        <li id="btThisYear"><a href="#">Yearly</a></li>
    </ul>
    </div>
    <!-- <a href="#" class="btn btn-small btn-primary" id="btThisMonth">Monthly</a>&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn btn-small btn-primary" id="btThisWeek">Weekly</a>&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn btn-small btn-primary" id="btThisYear">Yearly</a> -->
  </div>
  <div class="col-md-4 pull-right">
    <div class="pull-right">
    <button type="button" class="btn btn-info" id="btSearch">Search</button>
    </div>
  </div>
</div>
<hr>
