
<div class="row ">
    <div class="col-sm-12">
        <div class="text-center">
            <label id="lblTotalDurationToday" class="hoursTitle"></label><br><label
                id="lblDurationLeftToday"></label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="pull-right">
            <label id="startDay"></label>
            <input type="text" id="startDayEditor" style="display: none; width:50px;">
            <span id="btEditStartDay" class="cursor-hand"><i class="glyphicon glyphicon-edit"></i></span>
        </div>
    </div>
    <div class="col-sm-8" id="graph-region" >
    </div>
    <div class="col-sm-2">
        <label id="endDay"></label>
    </div>
</div>
<hr/>
<div class="row ">
    <div class="col-sm-3 ">
        <button id="btPrevDay" class="btn btn-info btn-xs block-inline"><i
                class="glyphicon glyphicon-backward"></i>
        </button>
        <input type="text" id="dateInput" style="width: 0px; border: none; padding: 0px;"/>
        <label id="dateLabel" class="cursor-hand no-border block-inline text-center dateLabel"/>
        <button id="btNextDay" class="btn btn-info btn-xs block-inline"><i
                class="glyphicon glyphicon-forward"></i>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <label for="" id="selectTaskLabel"></label>
            <span id="removeTaskSelection" class="cursor-hand" style="display: none"><i
                    class="glyphicon glyphicon-remove"></i></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="pull-right">
            <button id="btAddToday" class="btn btn-success btn-xs">Add</button>
            <button id="btAddAndPlayToday" class="btn btn-success btn-xs ">Add & start</button>
            <button id="btAddPause" class="btn btn-default btn-xs ">Pause</button>
            <button id="btUploadInflow" class="btn btn-warning btn-xs">Upload</button>
        </div>
    </div>
</div>
<hr/>
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Title</strong></td>
        <td style="width: 175px;"><strong>Inflow</strong></td>
        <td style="width: 175px;"><strong>Youtrack</strong></td>
        <td style="width: 100px;"><strong>Duration <span id="btNormaliseTimes" class="cursor-hand" data-toggle="tooltip"
                                                         title="Normalize times">
            <i class="glyphicon glyphicon-time"></i></span></strong></td>
        <td style="width: 165px;"><strong>Actions</strong></td>
    </tr>
    </thead>
    <tbody id="dayResults">
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            Total time in inflow today : <label for="" id="lblTotalTimeInflow"></label>&nbsp;&nbsp;<span
                class="cursor-hand" id="btRefreshInflowTime" rel="tooltip" title="Refresh total time in inflow"><i
                class="glyphicon glyphicon-refresh"/></span>
        </div>

    </div>
</div>

