<td>
  {{#unless pause}}
    <button class="btn btn-xs" rel="tooltip" title="Duplicate today" id="btDuplicateToday"><i class="fa fa-files-o"></i>
    </button>
    {{#if editable}}
      <input id="title" style="width: 82%;" />
      <button class="btn btn-primary btn-xs" rel="tooltip" title="Edit Description '{{description}}'" id="btEditDescription"><i
        class="fa fa-pencil"></i></button>
    {{else}}
      <input id="title" style="width: 82%;" disabled="disabled" />
      <button class="btn btn-xs" rel="tooltip" title="{{description}}"><i
        class="fa fa-pencil"></i></button>

    {{/if}}
  {{else}}
    <input id="title" style="width: 100%;" disabled="disabled" />
  {{/unless}}
</td>
<td>
  {{#unless pause}}
    {{#unless uploadedInflow}}
      {{#if inflowId}}
        <span class="red cursor-hand" id="inflowRemove"><i class="glyphicon glyphicon-remove"></i></span>
      {{/if}}
      <small><a href="" id="inflowSearch"></a></small>
    {{else}}
      <span id="inflowSearch" for=""></span>
    {{/unless}}
  {{/unless}}
</td>
<td>
  {{#unless pause}}
    {{#unless uploadedYoutrack}}
      {{#if youtrackId}}
        <span class="red cursor-hand" id="youtrackRemove"><i class="glyphicon glyphicon-remove"></i></span>
      {{/if}}
      <small><a href="" id="youtrackSearch"></a></small>
    {{else}}
      <span id="youtrackSearch" for=""></span>
    {{/unless}}
  {{/unless}}
</td>
<td>
  <label id="duration">00h00</label>
  {{#if editable}}
    <input type="text" id="durationEditor" style="display: none; width:50px;">
    &nbsp;<span id="btEditTime" class="cursor-hand"><i class="glyphicon glyphicon-edit"></i></span>
  {{/if}}
</td>
<td>
  <div class="pull-right">
    {{#unless uploaded}}
      {{#if editable}}
        {{#if timeToInject}}
          <button type="button" class="btn btn-xs btn-info" id="btInjectTime" rel="tooltip"
                  title="Inject Time">
            <i class="glyphicon glyphicon-share-alt"></i>
          </button>
        {{/if}}
        {{#if isRunning}}
          <button class="btn btn-xs btn-danger" id="btStop" rel="tooltip" title="Stop"><i
            class="glyphicon glyphicon-stop"></i></button>

        {{else}}
          <button class="btn btn-xs btn-success" id="btPlay" rel="tooltip" title="Start"><i
            class="glyphicon glyphicon-play"></i></button>

        {{/if}}
        <button class="btn btn-xs btn-danger" id="btRemove" rel="tooltip" title="Remove"><i
          class="glyphicon glyphicon-remove"></i></button>
      {{/if}}
      {{#if inflow_updateable}}
        <button class="btn btn-xs btn-warning" id="btUploadInflow" rel="tooltip" title="Upload in Inflow"
                data-placement="left"><i
          class="glyphicon glyphicon-cloud-upload"></i>I
        </button>
      {{/if}}
      {{#if youtrack_updateable}}
        <button class="btn btn-xs btn-warning" id="btUploadYoutrack" rel="tooltip" title="Upload in Youtrack"
                data-placement="left"><i
          class="glyphicon glyphicon-cloud-upload"></i>Y
        </button>
      {{/if}}
    {{else}}
      <i>Uploaded!</i>
      <button class="btn btn-xs btn-danger" id="btUploadInflow" rel="tooltip" title="Re-Upload In inflow"
              data-placement="left"><i
        class="glyphicon glyphicon-cloud-upload"></i>
      </button>
    {{/unless}}
  </div>
</td>
