<div id="around">
  <form>
    <div class="form-group">
      <label for="exampleInputName2">Description for '<b>{{title}}</b>'</label>
      <textarea id="description" class="form-control" rows="4"></textarea>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <p>
          Press 'Esc' or click button below to close
        </p>
        <button class="btn btn-success" id="btClose" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
