<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
        <i>Press escape to close panel</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="searchInput" class="form-control" placeholder="Search nodes..."/>
        <div class="text-center">
            <select name="typeSelect" id="typeSelector">
                {{#each types}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
<div class="bottom-panel-container">
    <div id="treeGrid"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <button class="btn btn-success" id="btClose" type="button">Close</button>
        </div>
    </div>
</div>