<div class="row">
    <div class="col-md-3">
        <select name="projects" id="projects" class="form-control">
            {{#projects}}
                <option id="{{shortName}}">{{shortName}}</option>
            {{/projects}}
        </select>
    </div>
    <div class="col-md-7">
            <input type="text" id="searchInput" class="form-control" placeholder="Search..."/>

    </div>
    <div class="col-md-2">
        <button type="button" id="btSearch" class="btn btn-primary">Search&nbsp;<i class="glyphicon glyphicon-search"></i></button>
    </div>
</div>
<div class="bottom-panel-container" id="result-region">

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <button class="btn btn-success" id="btClose" type="button">Close</button>
        </div>
    </div>
</div>