<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr>
        <th style="min-width: 200px">Id</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>